.header {
  grid-area: header;
  background-color: #00FFFF;
  display: flex;
  align-items: center;
  justify-content: s;
}

.header img {
  width: 50px;
  margin-left: 100px;
  margin-top: 7px;
}

.title {
  margin: 0 auto;
  font-family: 'tf2bold';
  font-size: 30px;
}