.main {
  grid-area: main;
  background-color: wheat;
  margin-top: 15px;
}

.main div:first-of-type img {
  display: block;
  width: 95%;
  height: 250px;
  margin: 15px auto;
}

.item {
  color:coral;
}