.item {
    margin-top: 25px;
    color: coral;
    display: flex;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.content {
    padding-top: 7px;
    padding-left: 25px;
}